.container {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.1em;
}

p {

}

img.logo{
	float: right;
}

.header {
	font-size: 2em;
	border-bottom: 1px solid silver;
	margin-bottom: .5em;
	margin-top: .5em;
}

html {
	padding: 1em;
}

.job {
	position: relative;
	margin-bottom: 1em;
}

/* @group Generic */

.project {
	left: 1em;
	position: relative;
	font-style: italic;
	/*font-size: 1.1em;*/
}

.title {
	text-transform: capitalize;
	font-weight: bold;
	text-align: left;
}

.location {
	text-align: right;
	position: relative;
	bottom: 1.5em;
	clear: both;
	float: right;
	font-weight: bold;
}

.time {
	font-style: italic;
	left: 1em;
	position: relative;
	/*font-size: 1.1em;*/
}

.description {

}

.description li {
	position: relative;
	left: 1em;
	list-style-type: circle;
	/*font-size: 1.1em;*/
}


/* @end */

/* @group Education */

.edu .title {
	width: 16.8em;
	text-transform: capitalize;
	font-weight: normal;
	font-size: 1.2em;
}

.edu .location {
	text-align: right;
	position: relative;
	bottom: 1.5em;
	clear: both;
	float: right;
	font-weight: normal;
	font-size: 1.2em;
}


/* @end */

h1.alphabet {
	text-align: center;
}

h1.alphabet a{
	text-decoration: none;
	font-size: 1.2em;
}

h1.alphabet a:hover {
	text-decoration: underline;	
}

img.top.pull-1.left {
	margin: 0 .4em 0 0;
}





